@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700&display=swap');
/*font-family: 'Maven Pro', sans-serif;*/


* {
	margin: 0;
	padding: 0;
	font-family: 'Maven Pro', sans-serif;
	color: #192f60;
}


#container {
	text-align: center;
}

.nav {
	background-color: #192f60;
	height: 50px;
}
.title {
	font-size: 17px;
    color: #fff;
    line-height: 3;
    font-weight: 400;
    padding-left: 20px;
    float: left;
}

.information-wrapper {
	font-weight: 600;
	background-color: #e5e4e6;
    width: 580px;
    padding: 20px 0;
    margin: 0 auto;
    margin-bottom: 40px;
}

.username-wrapper {
	margin-top: 10px;
}

.show-info {
	font-size: 12px;
	color: #192f60;
	font-weight: 400;
	padding-top: 5px;
}
.warning {
	color: #ea5506;
	font-weight: 400;
	font-size: 12px;
}

.top {
	padding: 50px 0 30px;
}

.icon-collection {
	padding: 30px 0;
	display: flex;
	width: 350px;
	margin: 0 auto;
	justify-content: space-between;
}

.icon-collection img {
	cursor: pointer;
	width: 60px;
}

#post-form input {
	border: 1px solid;
}

.message-detail-wrapper {
	background-color: #f3f3f3;
}
.icon-message {
	padding: 15px 0;
	margin-bottom: 20px;
}


p.subject {
	font-size: 22px;
	font-weight: 500;
}

input {
	width: 350px;
    height: 25px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
}

button {
    margin: 20px 0 50px;
	padding: 7px 30px;
	font-size: 15px;
	background: none;
	border: 2px solid;
	cursor: pointer;
	color: #192f60;
}

button:hover {
	background: #192f60;
	color: #fff;
}

.next {
	background-color: #abced8;
	padding: 60px 0;
}

.description-title {
	font-size: 16px;
	max-width: 400px;
	font-weight: bold;
	margin: auto;
}

.description {
	font-size: 14px;
	max-width: 400px;
    margin: auto;
    padding: 10px 0 25px;
}

.hr-description {
	width: 580px;
    margin: auto;
    border: none;
    background-color: #fff;
    opacity: 0.6;
    height: 1px;
    margin-bottom: 30px;
}



